html {
	font-size: 62.5%;
}
main {
	padding:2em;
}
h1 {
	@include font-size(3);
	margin:0 0 1em;
}
h2 {
	@include font-size(2);
	margin:0 0 1em;
}
p {
	@include font-size(1.6);
	+ p {
		margin:1em 0 0;
	}
}
ul,
ol {
	margin:1em 0 0;
}
li {
	@include font-size(1.6);
	padding:.25em 0;
}